# Entorno virtual 🐍
.venv/
__pycache__/
*.pyc

#Configuracion de Vs Code
.vscode/


# Archivos de datos locales 📁
ultimo_numero.txt
registro_contable.xlsx
.env


# Documentos generados (para que no llenes tu GitHub de PDFs) 📄
*.docx
*.pdf