# Entorno virtual 🐍
.venv/
__pycache__/
*.pyc

#Ignorar Carpetas de Compilacion
build/
dist/
*.spec

#Configuracion de Vs Code
.vscode/


# Archivos de datos locales 📁
ultimo_numero.txt
registro_contable.xlsx
.env
Inv/

# Documentos generados📄
*.docx
*.pdf
